<% if(user){ %>
<%- include("./header.ejs") %>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
                <center><h3>Add Project</h3></center>
                <form action="/dashboard" method="post">
                <% if(result.length >= 3 ){ %>
                <input id="link" name="link" style="background-color: transparent; color: #586278;" type="url" name="link" placeholder="https://example.glitch.me" class="form-control" disabled>
                <% }else{ %>
                <input id="link" onkeyup="lettersOnly(this)" name="link" style="background-color: transparent; color: #586278;" type="url" name="link" placeholder="https://example.glitch.me" class="form-control" required>
                <% } %>
                <br>
                <div class="d-grid gap-2" role="group">
                    <button width="100%" class="btn btn-success" type="submit"><i class="fa-solid fa-link"></i>Add Project!</button>
                    <button width="100%" class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#savedlinks"><i class="fa-regular fa-floppy-disk"></i>Saved Links</button>
                </div>
                </form>
                <div class="modal fade" id="savedlinks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="background-color: #000000;">
                <div class="modal-content" style="background-color: #000000;">
                <div class="modal-header" style="background-color: #000000;">
                <h5 class="modal-title" id="exampleModalLabel">Saved Links</h5>
                </div>
                <div class="modal-body">
                <% if(result.length === 0){ %>
                <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <% }else if(result.length === 1){ %>
                <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 33%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <% }else if(result.length === 2){ %>
                <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 66%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <% }else if(result.length === 3){ %>
                <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <% } %>
                <% result.forEach(x => { %> <p class="text-light"><span><%= x.link %><% if(status === 200){ %><i class="fa-solid fa-circle" style="color: #198754;"></i><% }else{ %><i style="color: #dc3545;" class="fa-regular fa-circle"></i><% } %><a href="/dashboard/remove/<%= x._id %>"><i style="color: #dc3545;" class="fa-regular fa-circle-xmark"></i></a></span></p><% }) %>
                <p>you have <%= result.length %>/3 registered links in the system</p>
                </div>
                <div class="modal-footer">
                <a class="btn btn-success" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i>Close</a>
                </div>
                </div>
                </div>
                </div>
          <%- include("./footer.ejs") %>
        </div>
    </div>
</div>
<% } %>